.character {
   display: flex;
   justify-content: space-evenly;
   .imgBox {
      width: 210px;
      text-align: center;
      p {
         font-size: 18px;
         span {
            color: #576f72;
            font-weight: 500;
         }
      }
   }
   table {
      width: 600px;
      .w1 {
         width: 60px;
      }
      .w2 {
         width: auto;
      }
      tr td {
         padding-bottom: 5px;
         margin-bottom: 5px;
         height: 35px;
         &:nth-child(1) {
            color: #576f72;
            font-weight: 700;
         }
         &:last-child {
            color: #000;
            font-weight: normal;
         }
      }
   }
}
