.workActivity {
   width: 100%;
   ul {
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: baseline;
      gap: 10px;
      li {
         width: 373px;
         display: flex;
         padding: 20px;
         box-sizing: border-box;
         border: 1px solid #e4dccf;
         img {
            height: 100px;
            margin-right: 10px;
         }
         .txtBox {
            p:nth-child(1) {
               font-weight: 700;
               margin-bottom: 15px;
            }
            p:not(:nth-child(1)) {
               span {
                  font-weight: 500;
               }
            }
         }
      }
   }
}
